VITE_SUPABASE_URL=https://jrmhipinxpxhjnkahsjz.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpybWhpcGlueHB4aGpua2Foc2p6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0MzA5MjYsImV4cCI6MjEwMTAwNjkyNn0.1hbTFIzWnmzpROYLKS5lXPTIcTl6hhkg2Hn19y3BlMw
